* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #3e1c00;
}

header {
    position: sticky;
    background-color: #7c3f00;
    padding: 10px;
    display: flex;
}

#logo {
    height: 100px;
    width: auto;
    margin: 10px;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
}

form section {
    display: flex;
    flex-direction: column;
}

input {
    padding: 5px;
    border: 0;
    background-color: #ad7e56;
    border-radius: 10px;
    color: whitesmoke;
    margin: 10px;
}

#submit {
    width: 90px;
    height: 50%;
    cursor: pointer;
}

.event {
    background-color: #ad7e56;
    border-radius: 10px;
    margin: 30px;
    display: flex;
    gap: 30px;
    padding: 15px;
    color: whitesmoke;
}

@media screen and (max-width: 650px) {
    form {
        flex-direction: column;
    }
}