* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #3e1c00;
}

header {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #7c3f00;
    padding: 10px;
    display: flex;
}

#logo {
    height: 100px;
    width: auto;
    margin: 10px;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
}

form section {
    display: flex;
    flex-direction: column;
}

#mobileMenuButton {
    display: none;
    cursor: pointer;
    width: 50px;
    height: 50px;
    align-self: center;
    right: 140px;
    position: fixed;
}

#loginButton {
    position: absolute;
    width: 100px;
    right: 2%;
    align-self: center;
    cursor: pointer;
    border: 0;
    border-radius: 10px;
}

#loginCreateAccountSection {
    position: absolute;
    right: 1px;
    top: 145px;
    background-color: #7c3f00;
    border: 0;
    border-radius: 10px;
}

#loginForm, #createAccountForm {
    flex-direction: column;
    padding: 10px;
}

#signUpButton, #loginSwitchButton {
    cursor: pointer;
    color: whitesmoke;
}

input {
    padding: 5px;
    border: 0;
    background-color: #ad7e56;
    border-radius: 10px;
    color: whitesmoke;
    margin: 10px;
}

label {
    text-align: center;
}

#submit, #loginSubmit {
    width: 90px;
    height: 50%;
    cursor: pointer;
}

.event {
    background-color: #ad7e56;
    border-radius: 10px;
    margin: 30px;
    display: flex;
    gap: 30px;
    padding: 15px;
    color: whitesmoke;
}

.description {
    margin-right: 40px;
}

.delete {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    right: 50px;
    padding: 3px;
    border: 0;
    border-radius: 5px;
    align-self: center;
}

.delete:hover, #loginButton:hover {
    background-color: #876343;
}

@media screen and (max-width: 850px) {
    form {
        flex-direction: column;
    }
}

@media screen and (max-width: 400px) {
    .event {
        flex-direction: column;
        gap: 10px;
    }

    .description {
        margin-right: 0;
    }
}